html, body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  min-height: 100% !important;
}

#app {
  min-height: 100% !important;
  display: flex;
  flex-direction: column;
}

#map {
  width: 100%;
  height: 450px;
  background-color: #eeeeee;
}

textarea {
  resize: none !important;
  font-size: 0.7em !important;
}

code {
  font-size: 0.7em !important;
  color: #0f5132 !important;
}

.toast, .toast-body {
  color: #155724;
  background-color: #d4edda;
  border: 0 !important;
  border-radius: 5px;
}

html[data-bs-theme="light"] .navbar {
  background-color: #F8F9FA !important;
}

html[data-bs-theme="light"] footer {
  background-color: #F8F9FA !important;
}

html[data-bs-theme="dark"] .navbar {
  background-color: #343A40 !important;
}

html[data-bs-theme="dark"] footer {
  background-color: #343A40 !important;
}
