html, body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root {
  min-height: 100% !important;
}

#app {
  min-height: 100% !important;
  display: flex;
  flex-direction: column;
}

#map {
  width: 100%;
  height: 400px;
  background-color: #eeeeee;
}

textarea {
  resize: none !important;
  font-size: 0.7em !important;
}

code {
  font-size: 0.7em !important;
  color: #0f5132 !important;
}
